<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to facebook</h1>
    <h2>Please login or register</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <fieldset >
        <legend>Register</legend>
        <form action="/users" method="post">
            <input type="hidden" name="action" value="register">
            <input type="text" name="first_name" placeholder="first_name">
            <input type="text" name="last_name" placeholder="last_name">
            <input type="text" name="username" placeholder="username">
            <input type="text" name="pw" placeholder="pw">
            <input type="submit">
        </form>
    </fieldset>
    <fieldset >
        <legend>Login</legend>
        <form action="/users" method="post">
            <input type="hidden" name="action" value="login">            
            <input type="text" name="username" placeholder="username">
            <input type="text" name="pw" placeholder="pw">
            <input type="submit">
        </form>
    </fieldset>
</body>
</html>